body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar-container {
    width: auto;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background-color:#777;
    color: white;
}

.social {
    width: 300px;
    height: 50px;
    list-style: none;
    padding: 15px 10px;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    
}

.social li {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 15px;
    text-align: center;
}

.social li a {
    display: block;
    background: #777;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    line-height: 30px;
    width: 30px;  
    font-size: 18px;
}

.social .fb:hover {
    background: #3b5998;
}

.social .tw:hover {
    background: #00aced;
}

.social .gp:hover {
    background: #dd4b39;
}

.social .lin:hover {
    background: #007bb5;
}

.divider-social {
    margin: 50px 0;
}

.row-header {
    margin: 0 auto;
    padding: 0;
}

.divider {
    margin: 80px 0;
}

.bit {
    background-color: #eee;
    padding: 20px;
}

.bit-divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .navbar-wrapper {
        margin-top: 20px;
    }
    
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
        border-radius: 4px;
    }
}